* {
  font-family: 'Open Sans', sans-serif;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after{
  clear: both;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
button{
  border: none;
  padding: 0;
  outline: none;
  color: white;
  background: none;
}
.background-container{
  width: 100%;
  margin: 0 auto;
  /*background-color: orange;*/
  position: relative;
}
.background-image{
  width: 100%;
}
.main-container{
  position: absolute;
  width: 605px;
  height: 587px;
  background-color: white;
  top: 130px;
  left: 380px;
}
.header{
  background-color: rgba(157, 169, 195, 0.8);
  height: 70px;
}
.header-span-container{
  position: absolute;
  top: 18px;
  left: 18px;
  /*background-color: grey;*/
}
button.slider-link{
  border-radius: 50%;
  /*background-color: #bca177;*/
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.close-button{
  background-color: #adb5ca;
}
.hide-button{
  background-color: #adb5ca;
}
.maximize-button{
  background-color: #adb5ca;
}
.close-button:hover{
  background-color: red;
  cursor: pointer;
}
.hide-button:hover{
  background-color: yellow;
  cursor: pointer;
}
.maximize-button:hover{
  background-color: green;
  cursor: pointer;
}
.main-title{
  text-align: center;
  margin-left: 263px;
  margin-top: 35px;
  font-weight: bold;
  color: white;
  font-size: 16px;
}
.main-actions{
  margin-top: 30px;
  margin-right: 20px;
}
.search-button{
  /*margin-top: 30px;*/
  /*margin-left: 190px;*/
  /*background-color: orange;
  height: 35px;
  width: 35px;*/
}
.header .main-actions i{
  font-size: 25px;
  color: white;
  opacity: 0.5;
}
.header .main-actions i:hover{
  opacity: 1;
  cursor: pointer;
}
/*i.fa-search{
  font-size: 25px;
  color: white;
  opacity: 0.5;
}*/
/*i.fa-search:hover{
  opacity: 1;
  cursor: pointer;
}*/
.add-task-button{
  /*margin-top: 30px;*/
  margin-left: 15px;
  /*background-color: yellow;
  height: 35px;
  width: 35px;*/
}
.arrow-right{
  width:0;
  height:0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #4a4f62;
  left: 62px;
  top: 98px;
  position: absolute;
}
/*i.fa-plus-circle{
  font-size: 25px;
  color: white;
  opacity: 0.5;
}*/
/*i.fa-plus-circle:hover{
  opacity: 1;
  cursor: pointer;
}*/
.tasks-background-container{
  /*background-color: yellow;*/
  height: 517px;
}
.tasks-navigation-container{
  background-color: #364147;
  width: 72px;
  height: 517px;
}
.navigation-button{
  width: 72px;
  height: 72px;
  font-size: 30px;
  opacity: 1;
}
.navigation-button:hover{
  cursor: pointer;
  opacity: 0.8;
}
.all-tasks{
  background-color: #52596c;
}
.home-tasks{
  background-color: #fe6d6a;
}
.work-tasks{
  background-color: #ffc778;
}
.school-tasks{
  background-color: #cc94ef;
}
.friend-tasks{
  background-color: #2ce4be;
}
.settings-button{
  background-color: #343f45;
  position: absolute;
  top: 520px;
  opacity: 0.3;
  font-size: 20px;
}
.tasks-description-container{
  height: 517px;
  width: 533px;
  background-color: orange;
}
.nearest-task{
	/*border: 1px solid #000;*/
	position: relative;
	min-height: 200px;
	padding-left: 60px;
	background-color: #52596c;
	width: 463px;
  /*margin-left: 72px;*/
  border-right: 10px solid #fe6d6a;
}
.task-checkbox-container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	background: #4a4f62;
	/*border-right: 5px solid black;*/
}
.inner{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background: #f00;*/
	width: 20px;
	height: 20px;
	margin: auto;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0.5;
}
.inner:hover{
  opacity: 1;
  cursor: pointer;
}
.location-marker{
  position: absolute;
  color: white;
  opacity: 0.5;
  /*margin-left: 20px;
  margin-right: 5px;*/
  top: 20px;
  left: 80px;
  font-size: 18px;
  /*font-weight: bold;*/
}
.location-marker:hover{
  opacity: 1;
  cursor: pointer;
}
.nearest-task-sign{
  position: absolute;
  color: white;
  opacity: 0.5;
  top: 20px;
  left: 480px;
  font-size: 18px;
  font-weight: bold;
}
.nearest-task-sign:hover{
  opacity: 1;
  cursor: pointer;
}
.nearest-task-inner-container-header{
  /*height: 60px;*/
  color: white;
  opacity: 0.5;
  font-size: 12px;
  padding-top: 24px;
  padding-left: 40px;
}
.small-text{
  /*display: inline-block;*/
  /*margin-bottom: 5px;*/
  /*margin-left: 5px;
  margin-top: 24px;*/
  /*color: white;
  opacity: 0.5;
  font-size: 12px;*/
  /*border-right: 1px solid black;*/
  /*width: 53px;*/
}
.small-text-date{
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
  /*margin-top: 24px;*/
  /*color: white;
  opacity: 0.5;
  font-size: 12px;*/
  /*width: 90px;*/
}
.nearest-task-big-text{
  color: white;
  font-size: 40px;
  font-weight: lighter;
  padding: 0 10px 5px 0;
  /*text-align: justify;*/
}
